<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="assets/img/slide-1.jpg" alt="First slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="assets/img/slide-2.jpg" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="assets/img/slide-3.jpg" alt="Third slide">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>


<div class="container top30">
  <div class="row">
    <div class="col-md-4 text-center">
      <img src="assets/img/album.png" alt="">
      <hr>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit.
    </div>
    <div class="col-md-4 text-center">
      <img src="assets/img/artist.png" alt="">
      <hr>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit.
    </div>
    <div class="col-md-4 text-center">
      <img src="assets/img/music.png" alt="">
      <hr>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit.
    </div>
  </div>
</div>