<div class="container">
 
      <div class="row top30 ">
          <div class="col-md-3">
              <img  [src]="artistaEncontrado.images | sinFoto" style="border-radius: 50%;" class="img-thumbnail">
          </div>
          <div class="col-md-9">
            <h1> Nombre: {{ artistaEncontrado.name }}</h1>
            <a [routerLink]="['/search']" class="btn btn-primary"> Regresar </a>
          </div>
        </div>
  
  <hr>
  <h2>Top Tracks</h2>
  <div class="col-md-12">
      <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Foto</th>
              <th scope="col">Cancion</th>
              <th scope="col">Escuchar</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let top of topPistas">         
              <td>
                  <img [src]="top.album.images | sinFoto" class="img-thumbnail">
              </td>
              <td>{{ top.album.name }}</td>
              <td>
                  <iframe [src]="top.uri | donSeguro:'https://open.spotify.com/embed?uri=' " width="300" height="80" frameborder="0" allowtransparency="true"></iframe>
              </td>
            </tr>
     
          </tbody>
        </table>

  </div>
</div>
