<div class="container top30">
  <div class="row">
    
    <div class="col-md-3">
      <label for="termino">Buscar artista</label>
      <input type="text"
             placeholder="Busque artista..."
             class="form-control"
             (keyup)="buscarArtista(termino)"
             [(ngModel)]="termino" />
    </div>
  
    <div class="col-md-9" *ngIf="termino.length > 1">
      <h1 class="text-capitalize">{{termino}}</h1>
      <hr>
      <div class="row">
        <div class="col-md-3 text-center puntero" 
            *ngFor="let artista of _spotify.artistas" 
            [routerLink]="['/artist', artista.id]">

          <img [src]="artista.images | sinFoto" alt="imagen del artista" class="img-thumbnail">
          <p>{{ artista.name }}</p>
        </div>
      </div>
    </div> 
  </div>
</div>