<!-- Image and text -->
<nav class="navbar navbar-dark bg-dark navbar-expand-lg ">
  <a class="navbar-brand" >
    <img src="/assets/img/banner-ico.png" width="30" height="30" class="d-inline-block align-top" alt="">
    SpotiApp
  </a>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item " routerLinkActive = "active" >
        <a class="nav-link" [routerLink]="['home']" >Home </a>
      </li>
      <li class="nav-item" routerLinkActive = "active" >
        <a class="nav-link" [routerLink]="['search']">Search</a>
      </li>
    
    </ul>
  
  </div>


</nav>